{{#>page title="Доставка еды"}}

<h1>Популярные блюда</h1>

<form name="productSearch" class="productSearch">
<input type="search" placeholder="поиск">
<input type="image" src="/static/images/search.png" alt="search">
</form>

{{>gallery}}

{{/page}}
