<footer>


<div class="advWrapper">
<div class="advList">

<div class="adv">
<h2>
Низкие цены
</h2>
<p>
Покольку нам нет необходимости на обслуживая магазинов, приготовление блюд обходиться нам дешевле чем в обычных магазинах и ресторанах. За счет этого конечный потребитель также имеет низкие цены.
</p>
</div>

<div class="adv">
<h2>
Быстрая доставка
</h2>
<p>
Наш наша сеть насчитывает нескролько центров по всему Минску. При заказе товаров, мы выбираем ближайший к клиенту и сразу де после приготовления курьер доставляет еду прямо к вашему порогу.
</p>
</div>

<div class="adv">
<h2>
Вкусная еда
</h2>
<p>
У нас работают лучшие повара. Отборные продукты закупаются только у лучших поставщиков. К вашему порогу еда доставляется теплой.
</p>

</div>
</div>
</div>

<div class="infoWrapper">

<div class="info">

<figure class="logo">
<img src="/static/images/logoBlack.png">
<figcaption class="copy">
&copy; 2018 ЗАО "Крутая компания"
</figcaption>
</figure>

<small>
Свидетельство о регистрации №123456789 от 01.01.2000г.<br>
Лицензия на розничную торговлю №00000/00000 от 01.01.2000г.<br>
Дата включения в торговый реестр – 01.01.2000г.
</small>

<div class="contact">

<address>
emal: mega@cool.net<br>
MTC: +375 11 111 11 11<br>
VECOME: +375 22 222 22 22<br>
LIFE: +375 33 333 33 33
</address>
</div>

</div>

<img src="/static/images/payments.png" class="payments" alt="visa, master card and etc.">
</div>

</footer>
