<nav>
<ul>
<li><a href="">Главная</a></li>
<li><a href="">Меню</a></li>
<li><a href="">Акции</a></li>
<li><a href="">Отзывы</a></li>
<li><a href="">О нас</a></li>
<li><a href="">Отзывы</a></li>
</ul>
</nav>
