<!DOCTYPE html>

<html lang="ru">
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="register">

<div class="headWrapper">
{{>header}}
</div>

<div class="mainWrapper">
<main>

{{> @partial-block }}

</main>

</div>


<div class="footWrapper">
{{>footer}}
</div>

</body>
</html>
